@charset "utf-8";


/* reset */
html { height: 100%;}
body {
	margin:0;
    padding:0;
    height: 100%;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption,input {
	margin:0;
	padding:0;
}
ul, ol {list-style:none;}

img {border:0;}

a {text-decoration:none; }

table {
	border-collapse: collapse;
    border-spacing: 0;
    
}

/* layout */
body {width: 1005; height: 100%;}
.html {width: 1005; height: 100%;}
.wrap { position: relative; width: 100%; height: 100%; }
.intro { position: relative; width: 100%; height: 100%; background-color: #fff; }

/* intro */
.intro .title_area {
    font-size: 99px;
    /* font-family: 'Roboto Condensed', sans-serif; */
    ! font-family: 'Fira Sans', sans-serif;
    /* font-family: 'Anton', sans-serif; */
    font-weight: 900;
    letter-spacing: 1em;
    position: absolute;
    left: 15%;
    top: 15%;
    /*! transform: translate(0, -50%); */
}
/* .intro .title_area:after {
    content: '';
    display: block;
    clear: both;
    zoom: 1;
    width: 50px;
    height: 3px;
    position: absolute;
    right:0;
    top:0;
    background-color: #000;
} */
.intro .title_area .title {
    display: inline-block;
}
.intro .title_area .title.left {
    /* color: #203db3; */
}
.intro .title_area .title.right {
    margin-left: 13%;
    /* color: #5b72dc; */
    letter-spacing: 1em;
    margin-top: 5px;
}

.intro .title_area .author {
    font-size: 0.5em;
    letter-spacing: 2em;
    display: inline-block;
    margin-right: -50px;
}

/* etc */
.etc {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.etc .bar {
    background-color: #000000;
    /* background-color: #5b72dc; */
    position: absolute;
    z-index: 99;
}
.etc .bar.top,
.etc .bar.bottom {
    width:100%;
    height: 20px;
}
.etc .bar.left,
.etc .bar.right {
    width: 20px;
    height: 100%;
}
.etc .bar.top {
    top:0;
    left:0;
}
.etc .bar.right {
    top:0;
    right:0;
}
.etc .bar.bottom {
    bottom:0;
    left:0;
}
.etc .bar.left {
    top:0;
    left:0;
}